<h1>Images</h1>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Picture</th>
			<th scope="col" colspan="3">Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @images.each do |image| %>
			<tr>
				<td><%= link_to image.name , image%> </td>
				<td>
					<%# <%= image.picture %>
					<%= image_tag image.picture.url, height: "100" %>
				</td>


				<td class="action"><%= link_to 'Show', image, :class => 'btn btn-outline-success' %></td>
				<td class="action"><%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-outline-secondary'%></td>
				<td class="action"><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger'%></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
